// @use '../style/variables' as var; 


.header {
    display: flex;
    align-items: center;
    margin-block: 3rem;
    margin-inline: auto;
    justify-content: center;
    gap: 1rem;

    img {
        width: 3rem;
        height: 3rem;
    }
}