// @use '../style/variables' as var; 


.header {
    display: flex;
    align-items: center;
    margin-block: 3rem;
    margin-inline: auto;
    justify-content: center;
    gap: 1rem;

    img {
        width: 3rem;
        height: 3rem;
    }
}

.header__text {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.header__greeting {
    font-size: 0.9rem;
    opacity: 0.75;
}