.splash-logo-symbol {
    width: 5rem;
    display: block;
    margin-top: 12rem;
    margin-inline: auto;
    transform: scale(0);
    opacity: 0;
    animation: growAndfadeIn 1s ease-out forwards;
}

@keyframes growAndfadeIn {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

;

.splash-logo-name {
    // display: block;
    margin-top: 2rem;
    text-align: center;
    opacity: 0;
    transform: scale(0.5);
    animation: fadeIn .5s ease-out forwards;
    animation-delay: .6s;
}

@keyframes fadeIn {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.splash.fade-out {
    animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: scale(2);
    }
}


.onboarding {
    opacity: 0;
    animation: fadeInOnboarding 0.6s ease-out forwards;
}

@keyframes fadeInOnboarding {
    to {
        opacity: 1;
    }
}

.onboarding-carousel__slide__text {
    position: absolute;
    background-color: white;
    bottom: 0rem;
    padding: 2rem 1.5rem 8rem;
    z-index: 5;

}

.onboarding-carousel__slide__text h1 {
    margin-top: .5rem;
}

.onboarding-carousel__slide__text p {
    margin-top: 1.5rem;
}



.onboarding-carousel__buttons {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    position: absolute;
    bottom: 2rem;
    z-index: 10; // Make sure it's above the text area
    // background: rgba(255, 0, 0, 0.3);
}


// CAROUSEL START
/* placeringen bestemmes her */
.onboarding-carousel {
    height: 100vh;
    margin-top: 2rem;
    text-align: center;
    position: relative;
    // background-color: rgba(0, 255, 0, 0.1);
    z-index: 0;
}

.onboarding-carousel__slide {
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    opacity: 0;
    transition: opacity 500ms linear;
    z-index: 0;
}

.onboarding-carousel__slide--visible {
    opacity: 1;
    transition: opacity 500ms linear;

}

.onboarding-carousel__slide__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.onboarding-carousel__slide img {
    z-index: 1;
}

.onboarding-carousel__prev,
.onboarding-carousel__next {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    background-color: hsla(0, 47%, 41%, 0.7);
    font-size: 1.5rem;
    transition: all 250ms ease-in-out;

}



.onboarding-carousel__prev {
    left: 0;
}

.onboarding-carousel__next {
    right: 0;
}



.onboarding-carousel:hover .carousel__prev {
    left: 2%;
}

.onboarding-carousel:hover .carousel__next {
    right: 2%;
}





.onboarding-carousel__dots {
    position: absolute;
    /*  collapser boksen */
    left: 0;
    bottom: 1rem;
    width: 100%;
    gap: 1rem;
    display: flex;
    justify-content: center;

}

.onboarding-carousel__dot {
    width: 0.6rem;
    height: 0.6rem;
    border: none;
    background-color: #d4d4d4;
    border-radius: 999px;
    transition: all 300ms ease;
    box-shadow: none;
}

.onboarding-carousel__dot--active {
    width: 1.5rem;
    background-color: green;
    transition: all 300ms ease;
}


// CAROUSEL finish